.signin-div {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.signin-div input, .signin-div button {
    width: 50vh;
    margin: 2vh;
    padding: 2vh;
}
.signin-div button {
    background-color: antiquewhite;
}