.input-text-field-form {
    background-color: #1dd1a1;
    padding: 2vh 3vh;
    display: flex;
    border-radius: 2vh;
    flex-direction: column;
    margin: 2vh;
}
.input-text-field-form input {
    border: 0;
    align-items: center;
    justify-content: center;
}
.required {
    color: white;
    font-weight: bolder;
    font-size: 0.3vh;
}